################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/GAMES101/v17
/Assignment0/x64/Debug
/Assignment1/x64/Debug
/x64/Debug
/Assignment2/x64/Debug
/Assignment3/x64/Debug
/Assignment4/x64/Debug
/Assignment5/x64/Debug
/Assignment6/x64/Debug
